<!DOCTYPE html>
<html>
<head>

    <title>Schemo - the easy School Scheduler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% stylesheets
    "css/bootstrap.min.css"
    "fullcalendar/fullcalendar.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link href="{{ asset('bundles/metafloschemo/css/main.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% javascripts
    'bower/jquery/jquery.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{% block title %}title{% endblock %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% block content %}content{% endblock %}
        </div>
    </div>
</div>
<!-- Include all JavaScripts, compiled by Assetic -->
{% javascripts
'js/bootstrap.min.js'
'bower/moment/min/moment-with-langs.min.js'
'fullcalendar/fullcalendar.min.js'%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script src="{{ asset('bundles/metafloschemo/js/main.js') }}"></script>
</body>
</html>