{% extends "MetafloSchemoBundle::layout.html.twig" %}

{% block title %}Schedule edit{% endblock %}

{% block content %}
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('schedule', { 'id': entity.project.id }) }}">
            Back to the schedule
        </a>
    </li>
</ul>
{% endblock %}
