{% extends "MetafloSchemoBundle::layout.html.twig" %}

{% block title %}Schedule generator for project '{{ entity.name }}'{% endblock %}

{% block content %}
    <div id="output">
        <pre>Please stand by... (generation progress will be displayed here)</pre>
    </div>
    <p>
        After the process finishes:
        <a href="{{ path('schedule', { 'id': entity.id }) }}" class="btn btn-primary">
            go back and view the schedule
        </a>
    </p>
    <script>
        $(document).ready(function () {
            startGenerator("{{workerURL}}","#output pre");
        });
    </script>
{% endblock %}