{% extends "MetafloSchemoBundle::layout.html.twig" %}

{% block title %}Schedule for project '{{ entity.name }}'
    <a href="{{ path('schedule_edit', { 'id': entity.id }) }}"
       class="btn btn-warning btn-lg">edit settings</a>
    <a href="{{ path('lesson_new', { 'id': entity.id }) }}"
       class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-plus"></span> assign lessons
    </a>
{% endblock %}

{% block content %}
    {% if (entity.schedule.status > 1) %} {# originally status < 1 #}
        <p>
            no schedule yet...
            <a href="{{ path('schedule_generate', { 'id': entity.id }) }}" class="btn btn-primary">
                generate schedule
            </a>
        </p>
    {% else %}
        <p>
            Schedule found. You may try to recreate it though.
            This may yield different but not necessarily better results.
            <a href="{{ path('schedule_generate', { 'id': entity.id }) }}" class="btn btn-primary">
                (re)generate schedule
            </a>
            <a href="{{ path('schedule_modify', { 'id': entity.id }) }}" class="btn btn-danger">
                teacher is missing
            </a>
        </p>
        <div id="calendar"></div>
        <script>
            $(document).ready(function () {
                makeCal('{{eventSources|json_encode|raw}}');
            });
        </script>
        {#{{dump(config)}}#}
        {#{{dump(endpoints)}}#}
    {% endif %}

{% endblock %}