{% extends "MetafloSchemoBundle::layout.html.twig" %}

{% block title %}Modify schedule for project '{{ entity.name }}'
    <a href="{{ path('schedule', { 'id': entity.id }) }}"
       class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-arrow-left"></span> back
    </a>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}