{% extends "MetafloSchemoBundle::layout.html.twig" %}

{% block title %}Modify schedule for project '{{ entity.name }}'
    <a href="{{ path('schedule', { 'id': entity.id }) }}"
       class="btn btn-primary btn-lg">
        {#<span class="glyphicon glyphicon-arrow-left"></span>#} back
    </a>
{% endblock %}

{% block content %}
    <div id="output" class="well"><p>Just a sec... Reasoning in progress.</p></div>
    <div id="input" class="well"></div>
    <script>
        $(document).ready(function () {
            setupReasoner("{{workerURL}}", "#output", "#input");
        });
    </script>
{% endblock %}