{% extends "MetafloSchemoBundle::layout.html.twig" %}

{% block title %}Project edit{% endblock %}

{% block content %}
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('project') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
