{% extends "MetafloSchemoBundle::layout.html.twig" %}

{% block title %}Project creation{% endblock %}

{% block content %}
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('project') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
