{% extends "MetafloSchemoBundle::layout.html.twig" %}

{% block title %}Project{% endblock %}

{% block content %}
    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('project') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('project_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>

    </ul>

    <div class="row">
        <div class="col-xs-12">
            <h3>
                Schedule
                <a href="{{ path('schedule', { 'id': entity.id }) }}" class="btn btn-primary">
                    view/edit/generate schedule
                </a>
            </h3>

            <p>status: {{ entity.schedule.statusName }}</p>
            {% if (entity.schedule.status > 1) %}
                <p>
                    date/time: {{ entity.schedule.datetime |date('Y-m-d - H:i:s') }}<br>
                    errors: {{ entity.schedule.errors }}
                    quality: {{ entity.schedule.quality }}
                </p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 panel panel-default">
            <h3>Lesson templates
                <a href="{{ path('lessontemplate_new') }}" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span> add
                </a>
            </h3>
            {% if entity.lessonTemplates is not empty %}
                <table class="records_list">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Class</th>
                        <th>Teachers</th>
                        <th>Room</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lt in entity.lessonTemplates %}
                        <tr>
                            <td><a href="{{ path('lessontemplate_show', { 'id': lt.id }) }}">{{ lt.id }}</a></td>
                            <td>{{ lt.name }}</td>
                            <td>{{ lt.schoolgroup }}</td>
                            <td>{{ lt.teachers | join(", ") }}</td>
                            <td>{{ lt.roomTypical }}</td>
                            <td>
                                <a href="{{ path('lessontemplate_edit', { 'id': lt.id }) }}">edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No lesson templates found. Create some!</p>
            {% endif %}
        </div>
        <div class="col-md-6 panel panel-default">
            <h3>Teachers
                <a href="{{ path('teacher_new') }}" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span> add
                </a>
            </h3>
            {% if entity.teachers is not empty %}
                <table class="records_list">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for teacher in entity.teachers %}
                        <tr>
                            <td><a href="{{ path('teacher_show', { 'id': teacher.id }) }}">{{ teacher.id }}</a></td>
                            <td>{{ teacher.name }}</td>
                            <td>
                                <a href="{{ path('teacher_edit', { 'id': teacher.id }) }}">edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No teachers found. Create some!</p>
            {% endif %}
        </div>
        <div class="col-md-6 panel panel-default">
            <h3>Rooms
                <a href="{{ path('room_new') }}" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span> add
                </a>
            </h3>
            {% if entity.rooms is not empty %}
                <table class="records_list">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Usagetype</th>
                        <th>Usagename</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for room in entity.rooms %}
                        <tr>
                            <td><a href="{{ path('room_show', { 'id': room.id }) }}">{{ room.id }}</a></td>
                            <td>{{ room.usageTypeName }}</td>
                            <td>{{ room.usageName }}</td>
                            <td>{{ room.name }}</td>
                            <td>
                                <a href="{{ path('room_edit', { 'id': room.id }) }}">edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No rooms found. Create some!</p>
            {% endif %}
        </div>
        <div class="col-md-6 panel panel-default">
            <h3>Timeslots
                <a href="{{ path('timeslot_new') }}" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span> add
                </a>
            </h3>
            {% if entity.timeslots is not empty %}
                <table class="records_list">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Weekday</th>
                        <th>Timestart</th>
                        <th>Timeend</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for timeslot in entity.timeslots %}
                        <tr>
                            <td><a href="{{ path('timeslot_show', { 'id': timeslot.id }) }}">{{ timeslot.id }}</a></td>
                            <td>{{ timeslot.weekdayName }}</td>
                            <td>{{ timeslot.timeStart|date('H:i:s') }}</td>
                            <td>{{ timeslot.timeEnd|date('H:i:s') }}</td>
                            <td>
                                <a href="{{ path('timeslot_edit', { 'id': timeslot.id }) }}">edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No timeslots found. Create some!</p>
            {% endif %}
        </div>
        <div class="col-md-6 panel panel-default">
            <h3>Schoolgroups
                <a href="{{ path('schoolgroup_new') }}" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span> add
                </a>
            </h3>
            {% if entity.schoolgroups is not empty %}
                <table class="records_list">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sg in entity.schoolgroups %}
                        <tr>
                            <td><a href="{{ path('schoolgroup_show', { 'id': sg.id }) }}">{{ sg.id }}</a></td>
                            <td>{{ sg.name }}</td>
                            <td>
                                <a href="{{ path('schoolgroup_edit', { 'id': sg.id }) }}">edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No schoolgroups found. Create some!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
