{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Timeslot</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.weekdayName }}</td>
            </tr>
            <tr>
                <th>Timestart</th>
                <td>{{ entity.timeStart|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Timeend</th>
                <td>{{ entity.timeEnd|date('H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('timeslot') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('timeslot_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
