{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lesson creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('schedule', {"id": entity.project.id}) }}">
                Back to the schedule.
            </a>
        </li>
    </ul>
{% endblock %}
